#titulo {
    background-color: peachpuff;
    height: 200px;
    text-align: center;
    color: red;
    font-size: 70px;
    font-style: bold; 
    font-family: "Times New Roman";
    text-shadow: grey 1px;
    font-weight: bold;
    position: relative;
    top: -60px;
    z-index: 2}

#subtitulo {
    text-align: center;
    color: red;
    font-size: 40px;
    font-style: bold; 
    font-family: 'Times New Roman';
    text-shadow: grey 1px;
    font-weight: bold;
    position: relative;
    top: -100px;
    z-index: 2}